{% extends 'default.html' %}

{% block title %}
Chat Room {{ room_name }}
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <form>
                <div class="form-group">
                    <br>
                    {% if user.profile.avatar %}
                    <img src="{{ user.profile.avatar.url }}" alt="Avatar" class="logo-image"
                        style="float: left; width: 50px; height: 50px; border-radius: 15px;">
                    {% endif %}
                    <h3>Chatbox</h3><br>
<!--                    <label for="exampleFormControlTextarea1" class="h4 pt-5"> </label>-->
                    <textarea class="form-control" id="chat-text" readonly rows="10"></textarea><br>
                </div>
                <div class="form-group">
                    {% csrf_token %}
                    <input class="form-control" placeholder="Enter text here" id="chat-message-input" type="text"/>
                </div>
                <div style="display: flex;">
                <input class="btn btn-primary" id="chat-message-submit" type="button"
                       style="width: 65%;" value="Send"/>&nbsp;
                <input class="btn btn-primary" id="leave-room-submit" type="button"
                       style="width: 33%;" value="Leave room"/>
                </div><br>
                <p>***</p>
                <p>To send a personal message choose a connected person at the list below</p>
                <div id="connections"></div>
                <p>***</p>
                <p>Users in the Room "{{ room_name }}":</p>
                <div id="users-in-room">nobody</div>
            </form>
        </div>
        {% comment %} Get data for username and chatbox name{% endcomment %}
        {{ request.user.username|json_script:"user_username" }}
        {{ room_name|json_script:"room-name" }}

        <!-- Optional JavaScript -->
        <script>
            base_url =  document.location.origin;
            const roomName = JSON.parse(document.getElementById('room-name').textContent);
            const userName = JSON.parse(document.getElementById('user_username').textContent);

            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/appchat/'
                + roomName
                + '/'
            );

            chatSocket.onmessage = async function (e) {
                const data = JSON.parse(e.data);
                suffix = data.from === 'room' ? '' : ' to You';
                document.querySelector('#chat-text').value += data.username.toUpperCase() + suffix + ' : '
                    + data.message  + '\n';
                scrollToBottom();
                await usersOfRoom(data.usernames);
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly with error:', e);
            };

            document.addEventListener('submit', function (e) {
                e.preventDefault();
                document.querySelector('#chat-message-submit').click();
            });

            document.querySelector('#chat-message-submit').addEventListener('click', function (e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'username': userName,
                    'whom': 'room',
                }));
                messageInputDom.value = '';
                return false;
            });

            document.querySelector('#leave-room-submit').addEventListener('click', function (e) {
                document.location.replace(`${base_url}/appchat/`);
            });

            function scrollToBottom() {
                let objDiv = document.querySelector('#chat-text');
                objDiv.scrollTop = objDiv.scrollHeight;
            };

            function sendToUser(channelName) {
                tagS = `${channelName.split('!')[1]}-input`;
                const messageInputDom = document.getElementById(tagS);
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'username': userName,
                    'whom': channelName,
                }));
                messageInputDom.value = '';
                return false;
            };

            function closeToUser(tagClose) {
                removed = document.getElementById(tagClose);
                document.getElementById('connections').removeChild(removed);
            };

            function writeToUser (channelName, userName) {
                tagP = `p-${channelName.split('!')[1]}`;
                tagS = `${channelName.split('!')[1]}`;
                userMessageInput = `<div id="` + tagS + `-close"><div class="form-group">{% csrf_token %}`
                    + `<input class="form-control" placeholder="Write your message to ` + userName + ` here" id="` + tagS
                    + `-input" type="text"/></div>`
                    + `<div style="display: flex;"><input class="btn btn-primary" id="` + tagS + `-submit" type="button" `
                    + `onClick="sendToUser('` + channelName + `')" style="width: 65%;" value="Send to ` + userName
                    + `"/>&nbsp;<input class="btn btn-primary" type="button" `
                    + `onClick="closeToUser('` + tagS + `-close')" style="width: 33%;" value="Close"/></div><br></div>`;
                document.getElementById('connections').innerHTML += userMessageInput;
            };

            function usersOfRoom (userDict) {
                if (userDict != 0) {
                    document.querySelector('#users-in-room').innerHTML = '';
                }
                for (let u in userDict) {
                    tagU = u.split('!')[1];
                    roomUser = `<p id="p-` + tagU + `"><button type="button" id="` + tagU + `" onClick="writeToUser('`
                        + u + `', '` + userDict[u] + `')">` + userDict[u] + `</button></p>`;
                    document.querySelector('#users-in-room').insertAdjacentHTML('beforeend', roomUser);
                }
            };
        </script>
    {% else %}
        <h2>Log in or Sign up</h2>
        <hr>
        <a class="nav-link" href="/accounts/login/">Log in</a>
        <br>
        <a class="nav-link" href="/accounts/signup/">Sign up</a>
    {% endif %}
{% endblock content %}